<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Card Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
       
        <li class="nav-item">
            <%= link_to(t('logout'), destroy_user_session_path, :method => :delete, class:"nav-link") %>
        </li>

        <li class="nav-item">
          <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link" %>
        </li>
           
        <li class="nav-item">
          <%= link_to "Profile", home_profile_path, class:"nav-link" %>
        </li>
           
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
        </li>
      <% end %>
            

            

 
 




         
        
        <%
=begin%>
 <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li> 
<%
=end%>
      </ul>
       
        <%= image_tag("undraw_profile.svg", {:style => "width:50px;"}) %>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <form class="d-flex">
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option><%= link_to "Profile", home_profile_path, class:"nav-item" %></option>
            <option><%= link_to(t('logout'), destroy_user_session_path, :method => :delete, class:"nav-link") %></option>
        </select>
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>