<p id="notice"><%= notice %></p>

<h1>Billings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Card number</th>
      <th>Cvc</th>
      <th>Postal code</th>
      <th>Valid thru</th>
      <th>Total amount</th>
      <th>Amound paid</th>
      <th>Due amound</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card.billings.each do |billing| %>
      <tr>
        <td><%= billing.name %></td>
        <td><%= billing.card_number %></td>
        <td><%= billing.cvc %></td>
        <td><%= billing.postal_code %></td>
        <td><%= billing.valid_thru %></td>
        <td><%= billing.total_amount %></td>
        <td><%= billing.amount_paid %></td>
        <td><%= billing.due_amount %></td>
        <td><%= billing.product %></td>
        <td><%= link_to 'Show', card_billing_path(@card, billing)%></td>
        <td><%= link_to 'Edit', edit_card_billing_path(@card, billing) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>




